#container {
    margin: 0 auto;
    max-width: 900px;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    width: auto;
    max-width: 100%;
}
#previous {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;

    border-right:50px solid lightskyblue;
}
#main-image {
    height: 400px;
    width: 400px;
}
#min-previous-image, #min-next-image {
    height: 150px;
    width: 150px;
}
#next {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;

    border-left: 50px solid lightgreen;
}

div#previous:hover, div#next:hover {
    cursor: pointer;
}

