body * {
    box-sizing: border-box;
}
button {
    margin-right: 5px;
}
div, input {
    margin-bottom: 5px;
}
input[type = "radio"] {
    display: inline-block;
}
label {
    /*display: block;*/
}
span {
    color: #ff0000;
}
span[id*="error"] {
    color: #ff0000;
}
