body *, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 700px;
    background-color: #d3d3d3;
    padding: 30px;
}
label {
    display: block;
}

label:not(:first-of-type) {
    padding-top: 20px;
}
button {
    margin-bottom: 30px;
}

#result[type="text"], textarea {
    width: 100%;
    max-width: 400px;
    background-color: #d3d3d3;
    font-family: Arial, sans-serif;
    font-size: 20px;
    box-shadow: 2px 2px 10px 0 rgba(186,186,186,1);
    resize: none;
}
