html {
    font-size: 10px;
    font-family: Arial, sans-serif;
}

body * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 100px;
    background-color: #d3d3d3;
    font-size: 1.4rem;
}

img {
    max-width: 100%;
    width: auto;
}

.container {
    margin: 0 auto;
    height: 208px;
    width: 430px;
    background-image: url(../images/safe.png);
    background-size: cover;
    position: relative;

}
#message {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 93px;
    height: 35px;
    position: absolute;
    background: #000;
    top: 20%;
    left: 22%;
    font-weight: bold;
}

#message p {
    display: none;
}

.container input {
    background-color: #4fd0c8;
    border: 1px solid #000000;
    padding-left: 2px;
    border-radius: 3px;
}

#loginField {
    position: absolute;
    top: 20%;
    right: 6%;
}

#passwordField {
    position: absolute;
    top: 31%;
    right: 6%;
}

#logButton {
    position: absolute;
    min-width: 50px;
    min-height: 30px;
    border: 1px solid #000000;
    border-radius: 3px;
    top: 42%;
    right: 6%;
    background-color: #4fd0c8;
}

